@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

font-family: 'Lato', sans-serif;


*{
    webkit-font-smoothing: antialiased;
    font-family: 'Lato', sans-serif;
    color: #333232;
    font-stretch: optimizedLegibility;
    font-size: 13px;

 }

 body {
   overflow: hidden;
    margin: 0;
    background-color: #D3D3D3;
    
 }
 .map_regions {
    
    box-sizing: border-box;
    height: calc(100% - 60px);
    left: 0;
    position: absolute;
    overflow: auto;
    top: 60px;
    width: 100%;

 }
